<form [formGroup] = "signUpForm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-12 col-sm-8 col-md-6">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              name="username"
              formControlName="username"
            />
            <div *ngIf="!signUpForm.get('username').valid && signUpForm.get('username').touched">
              enter a valid value
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email"
            />
          </div>
          <div class="custom-control custom-radio" *ngFor="let gender of genders">
            <input type="radio" class="custom-control-input" [id]="gender" name="gender" formControlName="gender" [value]="gender">
            <label class="custom-control-label" [for]="gender">{{gender}}</label>
          </div>
          <hr>
          <button class="btn btn-outline-success" (click)="onAddHobby()">Add Hobby</button>
          <hr>
          <div formArrayName="hobbies">
            <div class="form-group" *ngFor="let hobbyControl of signUpForm.get('hobbies').controls; let i = index">
              <input type="text" [formControlName]="i" class="form-control">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>

</form>
