<div class="container">
  <p appBetterHighlight="red" secondColor="yellow">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni consequuntur
    totam delectus repudiandae neque vero doloremque at ad quod eius aut quis
    harum laborum sit quibusdam quia, repellendus provident eum.
  </p>
  <div class="row">
    <div class="col col-12">
      <button class="btn btn-lg btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <hr />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers"
            [ngClass]="{ red: odd % 2 !== 0 }"
            [ngStyle]="{ backgroundColor: odd % 2 != 0 ? 'blue' : 'yellow' }"
          >
            {{ odd }}
          </li>
        </div>
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{ green: even % 2 == 0 }"
            [ngStyle]="{ backgroundColor: even % 2 == 0 ? 'blue' : 'yellow' }"
          >
            {{ even }}
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
