<div class="row">
  <div class="col-12">
    <img
      [src]="selectedRecipe.imagePath"
      alt=""
      class=" rounded"
      style="width: 100%"
    />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>{{ selectedRecipe.name }}</h1>
  </div>
</div>
<br />
<div class="row">
  <div class="col-12">
    <div class="btn-group" role="group" (click)="isOpen = !isOpen">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe
      </button>
      <ul class="dropdown-menu" [ngClass]="{ show: isOpen }">
        <a
          class="dropdown-item"
          href="#"
          (click)="toShoppingList()"
          style="cursor: pointer;"
          >To Shopping List</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['edit']">Edit Recipe</a>
        <div class="dropdown-divider"></div>
        <a
          class="dropdown-item"
          (click)="onDelete(recipeId)"
          style="cursor: pointer"
          >Delete Recipe</a
        >
      </ul>
    </div>
  </div>
</div>
<br />
<hr />
<div class="row">
  <div class="col-12">
    <strong>{{ selectedRecipe.description }}</strong>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of selectedRecipe.ingredients"
      >
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
