<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a routerLink="/">Home</a></li>
        <li role="presentation"><a routerLink="/servers">Servers</a></li>
        <li role="presentation"><a [routerLink]="['/users']">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <app-gamecontrol (startCount)="element = $event"></app-gamecontrol>
  </div>

  <div *ngIf="element % 2 === 0; else odd">
    <app-even [element]="element"></app-even>
  </div>
  <ng-template #odd>
    <app-odd [element]="element"></app-odd>
  </ng-template>
</div> -->

<!-- <div class="container">
  <app-cockpit
    (blueEvent)="onBlue($event)"
    (normalEvent)="onNormal($event)"
  ></app-cockpit>
  <div class="row">
    <div class="col col-4" *ngFor="let server of servers">
      <app-server [server]="server">
        <div
          class="card-header"
          [ngClass]="{
            red: server.type === 'normal',
            blue: server.type === 'blueprint'
          }"
        >
          {{ server.name }}
        </div>
      </app-server>
    </div>
  </div>
</div> -->

<app-header></app-header>
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
