<div class="row">
  <div class="col-12">
    <form [formGroup] = "form" (submit) ="onAdd()">
      <div class="row">
        <div class="col-sm-7 form-group">
          <label for="name">Name</label>
          <input formControlName="name" type="text" id="name" class="form-control" />
        </div>
        <div class="col-sm-3 form-group">
          <label for="amount">Amount</label>
          <input formControlName="amount" type="number" id="amount" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success" [disabled] = "!form.valid">
            {{editMode ? 'Update' : 'Add'}}
          </button>
          <button type="button" class="btn btn-danger" (click)="onDelete()" *ngIf="editMode">
            Delete
          </button>
          <button type="button" class="btn btn-primary" (click)="onClear()">clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
